@import "tailwindcss";

@theme {
    --color-wie-purple: rgb(181, 159, 241);

    --font-heading-fam: "Cormorant"; 
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: serif    
}

.has-solid-header header > div > div {
  background: #6b4a8d; /* or your brand purple */
  backdrop-filter: none;
  border-color: rgba(255,255,255,0.2);
}