---
import Layout from "../layouts/Layout.astro";
import PageHero from "../components/pageHero.astro";
import Ripple from "../components/animations/click/Ripple.astro";
import Fragment from "../components/Fragment.astro";
import StudentBranch from "../components/studentBranch.astro";
---
<Layout bodyClass="has-solid-header">
<main class="bg-off-white">
    <PageHero
        sub="ieee women in engineering"
        title="who are wie?"
        description="IEEE Women in Engineering (WIE) is the largest international professional organization dedicated to promoting women engineers and scientists and inspiring girls around the world to follow their academic interests to a career in engineering."
    >
        <div class="mt-6 text-baseline md:text-lg">
            <Ripple content="Learn more about IEEE WIE" href="" bg="wie-purple" text="off-white" class="semibold"/>
        </div>
    </PageHero>
    
    <section class="pb-14 md:pb-20">
        <div class="mx-auto max-w-6xl">
            <Fragment>
                <h2 class="text-3xl md:text-4xl font-semibold">Mission</h2>
                <p class="mt-5 text-lg leading-relaxed">
                    The mission of IEEE WIE is to facilitate the global recruitment and retention
                    of women in technical disciplines. IEEE WIE envisions a vibrant community of
                    IEEE women and men collectively using their diverse talents to innovate for
                    the benefit of humanity.
                </p>
            </Fragment>
        </div>
    </section>

    <section class="pb-14 md:pb-20">
        <div class="mx-auto max-w-6xl">
            <StudentBranch />
        </div>
    </section>
</main>

</Layout>

