---
import Layout from "../layouts/Layout.astro";
import AddressCard from "../components/addressCard.astro";
import Darken from "../components/animations//hover/Darken.astro";
---
<Layout bodyClass="has-solid-header" title="Contact Us">
    <main class="bg-off-white">
        <section class="mx-auto py-16">
            <div class="mx-auto max-w-5xl px-6 pt-16 md:pt-24">
                <div class="text-center space-y-6">
                    <p class="text-sm font-semibold tracking-widest uppercase text-wie-purple">
                        For Inquiries
                    </p>
                    <a
                        href="mailto:celebratewie@gmail.com"
                        class="text-2xl md:text-3xl font-semibold text-off-black hover:text-wie-purple transition"
                        >
                        celebratewie@gmail.com
                    </a>
                </div>
                <div class="pt-8 md:pt-16 grid md:grid-cols-2 gap-10">
                    <AddressCard
                        branch="IEEE WIE Carleton University"
                        building="IEEE McNaughton Resource Center, ME 3359"
                        address="1125 Colonel By Dr"
                        postalCode="K1S 5B6"
                        chair="Avery Uyttewaal"
                    />
                    <AddressCard 
                        branch="IEEE WIE University of Ottawa"
                        building="IEEE McNaughton Resource Center"
                        address="SITE &ndash; Room 4026 "
                        chair="Somana Debnath"
                    />
                </div>
                <div class="pt-8 md:pt-16 text-center space-y-6">
                    <div>
                        <p class="text-sm font-semibold tracking-widest uppercase text-wie-purple">
                            Follow Us
                        </p>
                    </div>
                    <div class="space-y-3">
                        <Darken
                            content="Carleton University WIE Instagram"
                            href="#"
                            color="text-off-black"
                        />
                        <Darken
                            content="University of Ottawa WIE Instagram"
                            href="#"
                            color="text-off-black"
                        />
                    </div>
                    <div class="pt-6">
                        <p class="text-sm font-semibold tracking-widest uppercase text-wie-purple">
                            Find Us on LinkedIn
                        </p>
                    </div>
                    <div class="space-y-3">
                        <Darken
                            content="IEEE WIE &ndash; Wine and Cheese"
                            href="#"
                            color="text-off-black"
                        />
                    </div>
                </div>
            </div>
        </section>
    <main/>
</Layout>