---
import Layout from "../layouts/Layout.astro";
import Instagram from "../assets/instagram.svg";
---
<Layout bodyClass="has-solid-header">
<main class="bg-off-black">
    <div class="h-screen flex items-center justify-center">
    </div>
</main>

</Layout>

