---
import '../styles/global.css';
import Darken from './animations/hover/Darken.astro';
import Ripple from './animations/click/Ripple.astro';
---
<footer class="bg-off-black">
    <div class="mx-auto max-w-7xl px-6 py-14 space-y-6">
        <div class="flex flex-col md:flex-row items-center md:justify-between gap-6 text-xs md:text-base">
            <nav class="flex flex-wrap gap-x-8 gap-y-3 uppercase tracking-wide">
                <Darken 
                    content="Who Are WIE"
                    href="/about"
                    color="text-off-white/90"
                />
                <Darken
                    content="Patronage Package"
                    href="/patronages"
                    color="text-off-white/90"
                />
                <Darken
                    content="Contact Us"
                    href="/contact"
                    color="text-off-white/90"
                />
            </nav>
            <div>
                <Ripple content="Purchase Tickets" bg="wie-purple" text="off-white" class="semibold text-base " href="https://www.eventbrite.ca/e/wie-wine-cheese-2026-tickets-1875170919699"/>
            </div>
        </div>

        <div class="h-px w-full bg-white/10"></div>

        <div class="space-y-3 text-base md:text-lg text-off-white/90">
            <p>
                <span class="font-semibold">Location:&nbsp;</span>
                Tabaret Hall &ndash; Huguette Labelle (Room 112) &ndash;
                550 Cumberland St, Ottawa, ON K1N 6N5
            </p>
            <p>
                <span class="font-semibold">Date:&nbsp;</span>
                Thursday, January 29th, 2026 &ndash; 7:00 PM &ndash; 10:00 PM
            </p>
        </div>

        <div class="h-px w-full bg-white/10"></div>
        <!-- flex justify-between gap-3 -->
        <div class="flex flex-col items-center md:flex-row md:justify-between gap-2 md:gap-0">
            <div class="text-xs md:text-sm text-off-white/65">
                &copy; 2026 IEEE Women in Engineering &ndash; All rights reserved.
            </div>
            <span class="text-xs md:text-sm text-off-white/65">website by <a href="https://linktr.ee/_justinkim" class="underline text-white/40">justin kim</a> affiliated with IEEE WIE Carleton</span>
        </div>
    </div>
</footer>