---
import Underline from "./animations/hover/Underline.astro"
import Fragment from "./Fragment.astro"

const CARLETON = [
    {
        title: "Chair",
        name: "Avery Uyttewaal",
    },
    {
        title: "Vice Chair",
        name: "Vidhi Mudgal",
    },
    {
        title: "External",
        name: "Leah Hynes",
    },
    {
        title: "Finance",
        name: "Emily Aldridge"
    },
    {
        title: "Internal",
        name: "Lilly Egberts",
    },
    {
        name: "Armeena Sajjad", 
        title: "Communications",

    },
    {
        title: "Design",
        name: "Remas Benamer",
    },
    {
        title: "Samyuktha Radhika",
        name: "Graphics",
    },
    {
        title: "Mansi Prajapati",
        name: "Social Media",
    },
    {
        title: "Vivian Tran",
        name: "Academics"
    },
]

const UOTTAWA = [
    {
        title: "Chair",
        name: "Somana Debnath",
    },
    {
        title: "Vice Chair",
        name: "Stuti Pandya",
    },
    {
        title: "External",
        name: "Krisha Veera",
    },

    {
        title: "Finance",
        name: "Luke Irvine",
    },
    {
        title: "Internal",
        name: "Chloe Dupont",
    },
    {
        title: "Communications",
        name: "Aurélie Dumas",
    },
    {
        title: "Design",
        name: "Zoe Saunders",
    },
]
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <Fragment>
        <div class="flex items-center justify-between gap-4">
            <h3 class="text-2xl font-semibold ">
                IEEE WIE Carleton University Student Branch
            </h3>
            <div class="text-base md:text-lg"><Underline content="Visit" href="https://www.ieeecarleton.ca/wie" /></div>
        </div>
        <dl class="mt-6 space-y-4">
            {CARLETON.map((student) => (
                <div class="flex items-baseline justify-between gap-4 text-base md:text-lg">
                    <dt class="font-semibold">{student.title}</dt>
                    <dd class="text-right">{student.name}</dd>
                </div>
            ))}
        </dl>
    </Fragment>
    <Fragment>
        <div class="flex items-center justify-between gap-4">
            <h3 class="text-2xl font-semibold ">
                IEEE WIE University of Ottawa Student Branch
            </h3>
            <div class="text-base md:text-lg"><Underline content="Visit" href="https://ieeeuottawa.ca/about/" /></div>
        </div>
        <dl class="mt-6 space-y-4">
            {UOTTAWA.map((student) => (
                <div class="flex items-baseline justify-between gap-4 text-base md:text-lg">
                    <dt class="font-semibold">{student.title}</dt>
                    <dd class="text-right">{student.name}</dd>
                </div>
            ))}
        </dl>
    </Fragment>
</div>