---
import '../styles/global.css';
---
<section class="py-50 px-15">
    <h1>look at all this useful wine and cheese info</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis quae ut quibusdam corporis ex porro earum, numquam maxime laborum, autem placeat quam tempore velit nobis possimus exercitationem, quaerat suscipit error</p>
</section>
